html{
    box-sizing: border-box;
}

*::after{
    box-sizing: inherit;
}
body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Karla' 'Arial' sans-serif ;
    font-size: 17px;
    line-height: 26px;
    background-color: white;
    color: #837d88;
}

img {
    max-width: 100%;
    height: auto;

}
.container{
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.sitenav {
    padding-top: 20px;
    padding-bottom: 20px
    ;

}
.sitenav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img{
    display: block;
}

.sitenav-list{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Karla' 'Arial' sans-serif;
    font-size: 13px;
    line-height: 15.2px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
   
}
.sitenav-item{
    margin-left: 25px;
}
.sitenav-link{
    text-decoration: none;
    color: #837d88;
    transition: background-color 0.5s ease, color 0.3s ease;
}
.sitenav-link:hover{
    color: #2c2830;

}

.sitenav-item-bordered{
    display: block;
    padding: 12px 28px;
    border: 2px solid #2c2830;
    color:#2c2830 ;
}
.sitenav-item-bordered:hover{
    background-color: white;
    color: #2c2830;
}
.line{
    width: 300px;
    
    padding: 35px;
}
.title{
    color: #2c2830;
    padding-bottom: 25px;
    font-family: 'DM Serif Display';
  
}
.content{
    display: flex;
}

.child{
    padding-left: 30px;
    font-family: 'Karla';
}

